{% extends 'base.html' %}

{% block title %}Posts:{% endblock title %}

{% block content %}
<h1>Check it out the most popular posts</h1>
<br>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure nemo fugiat corrupti eveniet esse voluptas cumque velit voluptates omnis laudantium.</p>
<br>
<p>Our company Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias reprehenderit tempore fugit optio veritatis, porro qui saepe ea dignissimos excepturi aspernatur officiis cumque necessitatibus est accusamus inventore autem!</p>
<br>
{% endblock content %}
